.tool-cont {
    box-shadow: 0px 2px 15px 0 rgb(0, 0, 0,0.5);
    width: 80%;
    @apply bg-white mx-auto flex-wrap items-stretch;
    min-height: 50vh;
}
.tool-row-cont {
    @apply w-1/2 mx-md:w-full px-2;
}
.tool-row-cont.full-width {
    @apply w-full;
}
.tool-row-cont button {
    min-width: 180px;
}
.textarea-cont {
    @apply  flex flex-col;
}
.textarea-cont > div {
    @apply flex-grow;
}
.textarea-cont textarea {
    @apply text-base text-darkGrey;
}
.textarea-cont span.text-green-500 {
    display: none;
}
.radio-select {
    @apply px-3;
}
.radio-select span {
    font-family: 'poppins-regular';
    @apply inline-block ml-1.5 text-darkGrey;
}
.radio-select input {
    @apply cursor-pointer;
}
/* Slider Custom Color */
/* .css-1gv0vcd-MuiSlider-track,
.css-14pt78w-MuiSlider-rail {
    background-color: rgba(0,130,146, 0.7) !important;
}
.css-eg0mwd-MuiSlider-thumb {
    background-color: rgba(0,130,146, 1) !important;
} */

.description {
    font-family: 'poppins-regular';
    padding:2em;
    margin:3em;
}

.description_heading{
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5em 0;
}

.description_list{
    list-style: circle;
}