@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base Styles */
@layer base {
  @font-face {
    font-family: 'poppins-regular';
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
  } 
  @font-face {
    font-family: 'poppins-extrabold';
    src: url('./assets/fonts/poppins/Poppins-ExtraBold.ttf');
  } 
  @font-face {
    font-family: 'poppins-bold';
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
  } 
}

/* Custom layer styles */
@layer utilities {
  body {
    font-family: 'poppins-regular'
  }
  .flex-cont {
    @apply flex items-center;
  }
}

/* Custom components Styles */
@import './components/Header.css';